<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>my_notes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BE92F791C64267D00D2EE4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BE92F901C64267E00D2EE4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BE92F9B1C64267E00D2EE4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
